# dependencies
node_modules/

# build output
.next/
out/
output/

# env
.env.local
.env*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*

# next
next-env.d.ts
